/*
Name: Guohui Wan
  Date: Feb 09 , 2023
*/
body{
  background-color:rgb(248, 248, 249);
}

.name{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: 1.5rem;
  font-weight: 600;
}
.name a{
  text-decoration: none;
  color:#494e52;
  font-style: italic;
  font-size: 2.5rem;
}
.name a:hover{
  color:rgb(102, 128, 145);
}
.search a{
float:right;
margin-right:7rem;
margin-top: 0.5rem;
color: #000;
}
.nav a{
  margin-left: 15rem;
  font-size:25px;
  padding:1rem;
  color:#6c757d;
  color:#565e64;
 
}
.intro{
  font-size: 2rem;
  color:#494e52;
}
.description p{
    font-size:1.4rem;
    color:#565e64;
}
hr {
  border-color: #fbfdfe;
}
.para{
  font-size:1.3rem;
  font-weight:300;
  margin-top:0;
  color:#565e64;
  margin-bottom:1rem;
  }
.more{
  margin-bottom:0rem;
  font-weight:600;
}
.more a{
  color:#6c757d;
}
.more a:hover{
  color:rgb(102, 128, 145);
}
.fisrtcol{
  display: flex;
  justify-content: space-between;
}
.description{
  width:60%;
}
.image{
  width:350px;
  height: auto;
}
.imagecol{
  width: 40%;
}
.content img{
  width:40vw;
  position: absolute;
  width:40%;
  display: flex;
}

.edu a,.para a{
  text-decoration: none;
  color:#565e64;  
}
.edu a:hover{
  color:rgb(102, 128, 145);
  text-decoration: underline;
}
.edu h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:1.5rem;
  color:#565e64;
}
.edu p{
  font-size:13px;
}
.hobby img, .volunteer img{
  display: flex;
 position: relative;
 padding: .3rem;
}
.wrapper{
  display: flex;
  float: left;
  padding: 5px;
  margin: 5px;
}
.row{
  width:75%;
}
.empty{
  width: 6%;
}
.col{
  width:15%;
}
.coursecol{
  width:18%;
}

.position-sticky{
  position: sticky;
  top: 1.5rem;
  text-align: center;
}
.side{
  padding:1rem;
  background-color: #f1f1f1;
}
.side p{
  font-size: 20px;
  text-align: left;
}
.side a{
color:#565e64;
font-size: 20px;
}
.side li{
  list-style:none;
}
.side h2{
  color: #565e64;
  font-style: italic;
  font-size: 20px;
}
.stickside{
  padding-left:0;
  list-style:none;
}

/*resume*/

.con a{
  text-decoration: none;
  color:#565e64; 
  font-size:20px;
}
.sticky{
  position: sticky;
  top: 1.5rem;
}
.lab h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:25px;
  color:#565e64;
}
.lab{
  display: flex;
  justify-content: space-between;
}
.lab1{
  width:30%;
}
.lab2{
  width:35%;
}
.lab3{
  width:30%;
}
.lab2 img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.para img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.search a{
  text-decoration: none;
  
}
.lab a{
  text-decoration: none;
  color: rgb(96, 103, 141);
  font-size: 1.5rem;
}
.lab a:hover{
  color:rgb(102, 128, 145);
}
.lab p{
    font-size:1.5rem;
    font-weight:300;
    margin-top:0;
    margin-bottom:1rem;
    font-size: 1.3rem;
}
/*
*course
*/
.para p{
  font-size: 1.5rem;

}
/*
 * Footer
 */
.footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
  font-size: 20px;
}
.footer a{
  color: #000;
}
/*js*/


.show {
  display: none;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}


